*{
    padding:0px;
    margin:0px;
    text-align:center;
}
h1{
    background-color: rgb(15, 15, 29);
    color:white;
    height:5rem;
    line-height:5rem;
    
}
.choice{
    height:165px;
    width:165px;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;


}
.choice:hover{
    cursor:pointer;
   background-color: black;
    

}
img{
    height:150px;
    width:150px;
      border-radius: 50%;
      object-fit:cover;
}


.choices{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5rem;
    margin-top:5rem;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
    margin-top:3rem;
    font-size:2rem;


}
#s1, #s2{
    font-size:4rem;
}
.msg-container{
    margin-top:2rem;
}
#msg
{
    background-color: black;
    color:white;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius: 30px;
    

    

}
